<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todoapp.mapper.UserMapper">
  <!-- <resultMap id="userMap" type="com.example.todoapp.model.User">
    <id property="loginId" column="login_id" />
    <result property="password" column="password" />
  </resultMap> -->
  <select id="authenticate" resultType="int"> SELECT count(*) FROM users where login_id = #{loginId}
    and password = #{password} </select>
  <insert id="signUp" parameterType="com.example.todoapp.model.UserInfo"> INSERT INTO users (id,
    login_id,password, name) VALUES (gen_random_uuid(), #{username}, #{password}, #{username}) </insert>
  <!-- TODO:nameフォームを作る -->
  <update id="googleUserLink"> UPDATE users SET
    (google_sub,google_given_name,google_family_name,google_email) =
    (#{sub},#{givenName},#{familyName},#{email}) where login_id = #{loginId}</update>
</mapper>